body{
  text-align: center;
  background-color: #faf6ef;
}
h1 {
  font-size: 40px;
  margin: 50px 0;
  color: #2096BA;
  font-family: 'Spicy Rice', cursive;
  border-bottom: solid 3px #2096BA;
}
p {
  color: #ff7845;
  font-size: 24px;
  font-family: 'Goudy Bookletter 1911', serif;
}
section {
  margin: 50px 20px;
}
span {
  font-family: 'Staatliches', cursive;
  color: brown;
}
